<h1>Listing workout_dates</h1>

<%= link_to "Show finished workouts", workout_dates_path(:show_finished => true) %>

<table>
  <tr>
    <th>When</th>
    <th>Workout</th>
    <th>n</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workout_dates.each do |workout_date| %>
  <tr>
    <td><%= workout_date.when %></td>
    <td><%= workout_date.workout.name %></td>
    <td><%= workout_date.n %></td>
    <td><%= link_to 'Show', workout_date %></td>
    <td><%= link_to 'Edit', edit_workout_date_path(workout_date) %></td>
    <td><%= link_to 'Destroy', workout_date, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Finish', finish_workout_date_path(workout_date), :method => :post %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workout date', new_workout_date_path %>
