<h1>Listing workout_exercises</h1>

<table>
  <tr>
    <th>Workout</th>
    <th>Exercise</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workout_exercises.each do |workout_exercise| %>
  <tr>
    <td><%= workout_exercise.workout_id %></td>
    <td><%= workout_exercise.exercise_id %></td>
    <td><%= workout_exercise.position %></td>
    <td><%= link_to 'Show', workout_exercise %></td>
    <td><%= link_to 'Edit', edit_workout_exercise_path(workout_exercise) %></td>
    <td><%= link_to 'Destroy', workout_exercise, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workout exercise', new_workout_exercise_path %>
