<p id="notice"><%= notice %></p>

<p>
  <b>Workout:</b>
  <%= @workout_exercise.workout_id %>
</p>

<p>
  <b>Exercise:</b>
  <%= @workout_exercise.exercise_id %>
</p>

<p>
  <b>Position:</b>
  <%= @workout_exercise.position %>
</p>


<%= link_to 'Edit', edit_workout_exercise_path(@workout_exercise) %> |
<%= link_to 'Back', workout_exercises_path %>
