<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exercise_type.name %>
</p>

<p>
  <b>V1:</b>
  <%= @exercise_type.v1 %>
</p>

<p>
  <b>V2:</b>
  <%= @exercise_type.v2 %>
</p>

<p>
  <b>V3:</b>
  <%= @exercise_type.v3 %>
</p>

<p>
  <b>V4:</b>
  <%= @exercise_type.v4 %>
</p>

<p>
  <b>V5:</b>
  <%= @exercise_type.v5 %>
</p>

<p>
  <b>V6:</b>
  <%= @exercise_type.v6 %>
</p>

<p>
  <b>V7:</b>
  <%= @exercise_type.v7 %>
</p>


<%= link_to 'Edit', edit_exercise_type_path(@exercise_type) %> |
<%= link_to 'Back', exercise_types_path %>
