<%= form_for(@workout_log_entry) do |f| %>
  <% if @workout_log_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout_log_entry.errors.count, "error") %> prohibited this workout_log_entry from being saved:</h2>

      <ul>
      <% @workout_log_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :workout_id %><br />
    <%= f.text_field :workout_id %>
  </div>
  <div class="field">
    <%= f.label :n %><br />
    <%= f.text_field :n %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
