<%= form_for(@set_function) do |f| %>
  <% if @set_function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@set_function.errors.count, "error") %> prohibited this set_function from being saved:</h2>

      <ul>
      <% @set_function.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :set_id %><br />
    <%= f.collection_select :set_id, ExerciseSet.all, :id, :name_with_exercise %>
  </div>
  <div class="field">
    <%= f.label :variable %><br />
    <%= f.text_field :variable %>
  </div>
  <div class="field">
    <%= f.label :variable_function_id %><br />
    <%= f.text_field :variable_function_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
