<h1>Listing set_functions</h1>

<table>
  <tr>
    <th>Set</th>
    <th>Variable</th>
    <th>Variable function</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @set_functions.each do |set_function| %>
  <tr>
    <td><%= set_function.set_id %></td>
    <td><%= set_function.variable %></td>
    <td><%= set_function.variable_function_id %></td>
    <td><%= link_to 'Show', set_function %></td>
    <td><%= link_to 'Edit', edit_set_function_path(set_function) %></td>
    <td><%= link_to 'Destroy', set_function, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Set function', new_set_function_path %>
