<%= form_for(@exercise_set) do |f| %>
  <% if @exercise_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_set.errors.count, "error") %> prohibited this exercise_set from being saved:</h2>

      <ul>
      <% @exercise_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :exercise_id %><br />
    <%= f.text_field :exercise_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
