<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exercise_set.name %>
</p>

<p>
  <b>Position:</b>
  <%= @exercise_set.position %>
</p>

<p>
  <b>Exercise:</b>
  <%= link_to @exercise_set.exercise.try(:name), @exercise_set.exercise %>
</p>


<%= link_to 'Edit', edit_exercise_set_path(@exercise_set) %> |
<%= link_to 'Back', exercise_sets_path %>
