<!DOCTYPE html>
<html>
<head>
  <title>RockboxWorkout</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= link_to "Exercise Types", exercise_types_url %>
  - 
  <%= link_to "Workout Dates", workout_dates_url %>
  -
  <%= link_to "Workouts", workouts_url %>
  <%= link_to "Exercises", exercises_url %>
  <%= link_to "WorkoutExercises", workout_exercises_url %>
  <%= link_to "Sets", exercise_sets_url %>
  - 
  <%= link_to "Functions", functions_url %>

<%= yield %>

</body>
</html>
